.wrapperClassName {
  height: 300px;
}

.toolbarClassName {
  border: 1px solid lightgrey;
}

.editorClassName {
  border: 1px solid lightgrey;
  padding: 5px !important;
  height: 80% !important;
}
